@import "../helpers/colors";
@import "../helpers/mixins";
@import "../helpers/keyframes";

h1 {
    margin: 30px;
    margin-top: 0;
    font-size: 400%;
}

.sections {
    width: 80%;
    margin-top: 50px;
    margin-left: 40px;
    .section {
        h2 {
            font-size: 200%;
        }
    }
    .section:first-child {
        .inputs-wrapper {
            @include inputs;
            input#search-friend {
                margin-bottom: 0;
                border-radius: 6px 6px 0 0;
            }
            width: 70%;
            > button {
                border: none;
                @include multiColors("color");
                background-color: transparent;
                margin-left: 20px;
                cursor: pointer;
                color: $orange;
                font-size: 150%;
            }
            .search-list {
                border: 0.5px solid black;
                width: 60%;
                padding: 10px 15px;
                font-size: 150%;
                margin-top: 0;
                z-index: 1;
                background-color: white;
                border-top: 0;
                overflow: auto;
                ul {
                    margin: 0;
                    list-style-type: none;
                    padding: 0;
                    li {
                        cursor: pointer;
                        color: $black;
                        transition: 0.2s;
                        padding: 10px 0 10px 5px;
                        border-bottom: none;
                        background-color: white;
                        &:hover {
                            background-color: rgb(219, 219, 219);
                        }
                    }
                }
                > button {
                    @include multiColors("color");
                    border: none;
                    background-color: transparent;
                    font-size: 120%;
                    cursor: pointer;
                    &.next {
                        float: right;
                    }
                    &.prev {
                        transform: rotate(0.5turn);
                        float: left;
                    }
                }
                span {
                    color: $red;
                }
            }
            > span {
                margin-left: 30px;
                font-size: 150%;
                animation: slideLeft 0.5s;
                position: relative;
            }
        }
        border-bottom: 0.5px solid $black;
        padding-bottom: 35px;
    }
    .section:last-child {
        margin-top: 30px;
        padding-bottom: 27px;
        h3 {
            display: inline;
        }
        .preferences-wrapper {
            h3 {
                font-size: 160%;
            }
            .colors {
                .select-color {
                    margin-top: 30px;
                    button {
                        width: 7%;
                        height: 50px;
                        margin: 0 20px;
                        border: 1px solid $black;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: box-shadow .4s;
                        @include multiColors("gradient");
                        &:first-child {
                            margin-left: 0;
                        }
                        &:hover, &.active{
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.9) 0px 8px 16px -8px;
                        }
                    }
                }
                &:last-child{
                    margin-top: 5%;
                }
            }
        }
    }
}
