@import "../helpers/keyframes";
@import "../helpers/colors";

.modal-wrapper {
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    animation: backgroundShadow 0.3s;
    z-index: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    .modal-box {
        position: absolute;
        width: 45%;
        top: 30%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        @import "FormModal";
        @import "InfoModal";
        .buttons-wrapper {
            border-top: 0.5px solid $black;
            padding: 10px 0;
            width: 100%;
            margin-top: 35px;
            .buttons {
                width: 100%;
                margin: auto;
                text-align: center;
                overflow: auto;
                button {
                    outline: none;
                    @include multiColors('background-color');
                    font-size: 80%;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    width: 30%;
                    color: white;
                    padding: 10px;
                    border-radius: 2px;
                    float: left;
                    transition-duration: .3;
                    &:nth-child(2n) {
                        float: right;
                        border-radius: 2px;
                    }
                    &:hover{
                        opacity: .6;
                    }
                }
            }
        }
    }
}

//when modal is closing
#modal-wrapper-close {
    animation: removeBackgroundShadow 0.3s;
    #modal-close {
        animation: closeModal 0.3s;
        opacity: 1;
    }
}
