@import "colors";

@mixin buttonShadow {
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}

@mixin multiColors($type) {
    @if ($type == "bgcolor") {
        &.red {
            background-color: $red;
        }
        &.green {
            background-color: $green;
        }
        &.blue {
            background-color: $blue;
        }
        &.orange {
            background-color: $orange;
        }
    }
    @else if($type == 'color'){
        &.red {
            color: $red;
        }
        &.green {
            color: $green;
        }
        &.blue {
            color: $blue;
        }
        &.orange {
            color: $orange;
        }
    }
}
