@import "colors";
@import "keyframes";

.modal-wrapper {
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    animation: backgroundShadow 0.3s;
    z-index: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    .modal-box {
        position: absolute;
        width: 40%;
        top: 25%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        .modal {
            color: $black !important;
            border: 1px solid $black;
            width: 100%;
            border-radius: 10px;
            background-color: white;
            padding: 30px 30px 10px 30px;
            animation: fadeModal 0.3s;
            h1 {
                margin: 0 0 20px 10px;
            }
            input {
                outline: none;
                color: $black;
                font-size: 110%;
                width: 60%;
                border: 0.5px solid $black;
                border-radius: 6px;
                padding: 15px;
                margin: 10px 0 10px 10px;
                &[type="checkbox"] {
                    width: 4%;
                }
            }
            .sex {
                margin-bottom: 10px;
                label {
                    input {
                        width: 4%;
                    }
                }
            }
            .redirect{
                padding: 15px 15px 0;
                // margin-top: 20px;
                display: inline-block;
                color: $blue;
                cursor: pointer;
            }
            .buttons-wrapper {
                border-top: 0.5px solid $black;
                padding: 10px 0;
                margin-top: 20px;
                margin: 20px 10px auto 10px;
                .buttons {
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    overflow: auto;
                    button {
                        background-color: $red;
                        outline: none;
                        font-size: 80%;
                        border: none;
                        cursor: pointer;
                        text-transform: uppercase;
                        width: 30%;
                        color: white;
                        padding: 10px;
                        border-radius: 2px;
                        float: left;
                        &:nth-child(2n) {
                            background-color: $green;
                            float: right;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}

//when modal is closing
#modal-wrapper-close {
    animation: removeBackgroundShadow 0.3s;
    #modal-close {
        animation: closeModal 0.3s;
        opacity: 1;
    }
}
