@import "keyframes";

.nav-wrapper {
    position: fixed;
    height: 100vh;
    border-right: 0.5px solid $black;
    width: 20%;
    .nav {
        width: 100%;
        > ul {
            list-style-type: none;
            > li {
                margin: 30px 0;
                font-size: 200%;
                display: inline-block;
                span {
                    cursor: pointer;
                }
                svg {
                    position: relative;
                    top: 6px;
                    transition: 0.5s;
                    display: inline;
                }
                &.collection-open {
                    svg {
                        transform: rotate(90deg) !important;
                    }
                    > ul {
                        animation: slideDown .5s;
                        transform: translateX(0%);
                        list-style-type: disc;
                        li {
                            font-size: 80%;
                            margin: 20px 0;
                        }
                    }
                }
            }
            > li:last-child {
                color: $red;
            }
        }
    }
}
