@import "keyframes";
@import "colors";


.nav-wrapper {
    position: fixed;
    height: 100vh;
    border-right: .5px solid $black;
    width: 15%;
    color: $black;
    .nav {
        width: 100%;
        h1{
            margin: 0 auto;
            padding: 20px 0;
            font-size: 160%; 
            width: 100%;
            text-align: center;
            border-bottom: 0.5px solid $black;
        }
        > ul {
            list-style-type: none;
            transition-duration: .5s;
            > li {
                margin: 40px 0; 
                font-size: 130%;
                transition-duration: .5s;
                clear: both;
                span {
                    cursor: pointer;
                    transition-duration: .5s;
                    &.empty-list{
                        color: $disabled_span;
                        cursor: auto;
                    }
                }
                svg {
                    position: relative;
                    top: 4.5px;
                    transition: 0.5s;
                    display: inline;
                    &.empty-list{
                        color: $disabled_span;
                    }
                }
                &.collection-open {
                    svg {
                        transform: rotate(90deg) !important;
                    }
                    > ul {
                        animation: slideDown .5s;
                        transform: scaleY(1);
                        list-style-type: disc;
                        transform-origin: top;
                        li {
                            font-size: 80%;
                            margin: 20px 0;
                        }
                    }
                }
            }
            > li:first-child{
                cursor: pointer;
                font-size: 130%;
                display: inline-block;
                margin: 40px 0 0 0;
            }
            > li:last-child > span {
                color: $red;
                cursor: pointer;
                &.log-out-warning{
                    font-size: 70%;
                    position: relative;
                    animation: slide .2s;
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
}
